.outer-header-contaner {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  align-items: center;
  /* background-color: transparent; */
  height: 10vh;
  color: #fff;
  transition: all 0.5;
  transition-timing-function: ease-in;
  z-index: 1;
  /* position: fixed; */
  /* background-color: black; */
}
.header-contaner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px;
}
.inner-contaner ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.left-contaner ul {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.left-contaner ul li {
  margin-left: 35px;
}
@media (max-width: 768px) {
  .outer-header-contaner .inner-contaner .list {
    display: none;
  }
}
